@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box {
  max-width: 1200px;
  /* margin: 20px auto; */
  margin-left: 50px;
 
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 12px;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1))

}
@layer components {
  .nav__link{
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px]
     after:bg-slate-500 text-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
     after:duration-300 after:origin-right
  }
}
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
 
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
 
  }
 
}
@layer base {
  * {
    @apply border-border;
 
  }
  body {
    @apply bg-background text-foreground;
 
  }
 
}